.feedback-form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Montserrat, sans-serif;
    max-width: 360px;
    padding: 24px;
}

.feedback-form input[type="email"] {
    border: 1px solid #808080;
    border-radius: 4px;
    height: 40px;
    padding-left: 16px;
    font-size: 16px;
}

.feedback-form input[type="email"]:hover, .feedback-form input[type="email"]:focus {
    border: 1px solid #000;
}
.feedback-form input[type="email"]:active {
    border: 1px solid #808080;
}


.feedback-form textarea {
    border: 1px solid #808080;
    border-radius: 4px;
    height: 80px;
    padding-left: 24px;
    font-size: 16px;
    padding-top: 16px;
}


.feedback-form button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    color: #fff;
    border: none;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.feedback-form button:hover {
    background: #6c8cff;
}


